body{
    background-color:lightgrey;
    font-family:Verdana, Tahoma, sans-serif;
}

h1{
    border:1px solid black;
    color: black;
    background:rgb(77, 142, 202);
    padding:10px;
    font-size: 2em;
    margin-bottom:10px;
}

h2{
    font-size: 22px;
    padding:10px;
    margin-bottom:10px;
}

p{
    color:black;
    font-size: 18px;
}

li {
    text-decoration: none;
    display:inline;
    color:black;
    background:rgb(228, 210, 54);
    border:1px solid black;
    padding:5px;
}
a{
    color:black;
    font-weight:600;
    text-decoration: none;
}
a:hover{
    color:lightgrey;
}
ul{
    margin-top:0px;
    padding-left:0px;
}

