{% extends "layout.html" %}
{% block content %}
<h1>Recipebook is an online collection of recipe books</h1>
<p>Created in 2022, Recipebook's main goal is to give you the best cooking books around!</p>
<p>The recipebook team has been working hard to give you the best cooking recipes without the filler.</p>
<P>Create a recipe feature comming soon!</P>
{% endblock %}