{% extends "layout.html" %}
  {% block content %}
  <h1>Welcome to Recipebook.com! Your #1 place for simple recipes.</h1>
  <p>To access all of our latest cooking recipes, click on "recipes"</p>
  <p>Want to learn more about recipebook? Click on the about button below!</p>
  <p>We are always working on new features for your cooking pleasure. Come back often to try them out.</p>

  {% endblock %}