<!DOCTYPE html>
  <html lang="en">                        
  <head>
    <meta charset="utf-8">
    <title> {{ page_name }} Recipebook.com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head> 
  <body>
    <div>
  	<h1>Recipebook</h1>
  	<div class="container">             
  	  {% block content %}
  	  {% endblock %}
  	</div>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
      </ul>
    </nav>
  </body>     
  </html>
