{% extends "layout.html" %}
  {% block content %}
  <h1>List of Recipes</h1>
  <p>Here is a list of simple recipes to try out! Give them a try!</p>
  {% for item in data %}
  <div>
    <p><strong>{{item.author}}</strong>, <em>{{item.title}}</em></p>
  </div>
  {% endfor %}
  {% endblock %}